{% block sw_cms_block_image_left_reversed_preview %}
    <div class="sw-cms-preview-image-left-reversed">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <div>
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
        </div>
    </div>
{% endblock %}
