{% block sw_cms_block_image_left_reversed %}
    <div class="sw-cms-block-image-left-reversed">
        <slot name="right">{% block sw_cms_block_image_text_reversed_slot_right %}{% endblock %}</slot>
        <slot name="left">{% block sw_cms_block_image_text_reversed_slot_left %}{% endblock %}</slot>
    </div>
{% endblock %}
